[2013-09-19 00:29] westonruter opened #1 "Add script to update/re-sort readme.txt contributors by git shortlog -s"
In the course of time, those who have the most impact on a plugin's development changes, and they should be properly recognized for their contributions. One way to do so is to have them appear higher in the list of contributors on the WordPress.org plugin page. The initial developer(s) of the plugin should probably remain at the top of the contributors list.

To accomplish the above, a file will n

[2013-10-07 04:43] westonruter opened #2 "Add Travis CI .travis.yml"

[2013-10-07 04:44] westonruter opened #3 "Add .jshintrc"

[2013-10-07 04:44] westonruter opened #4 "Add PHPMD"
http://phpmd.org/

[2013-10-07 04:44] westonruter opened #5 "Add PHP_CodeSniffer and WordPress Coding Standards"

[2013-10-07 13:51] westonruter opened #6 "Add PHPCPD"
https://github.com/sebastianbergmann/phpcpd

https://github.com/michael-cannon/custom-bulkquick-edit/blob/006c868161610c02edcb695b675a781018ecdd9f/.travis.yml#L22

[2013-10-07 13:51] #3 closed, assigned to nobody

[2013-10-07 13:51] #5 closed, assigned to nobody

[2013-10-07 13:51] #2 closed, assigned to nobody

[2013-10-07 14:03] westonruter opened #7 "Add Mockery"
https://github.com/padraic/mockery

[2013-10-07 15:36] westonruter opened #8 "Add Behat support"

[2013-10-07 23:51] westonruter opened #9 "Add Coveralls"
https://coveralls.io/

[2013-10-08 16:01] westonruter opened #10 "Add validator for PhpDoc and JSDoc"
May be part of PHP_CodeSniffer.

[2013-10-08 16:03] westonruter opened #11 "Update Travis to check for error logs during phpunit execution"
Travis check for errors added to log for standard http requests or during unit test running. We could do this by temporarily changing the location of the `error_log` and then after running all of the unit tests, check to see if `error|warning|notice` or any of the other strings appear in the log. If they do not appear, or if the log is empty, the test passes.

[2013-10-13 21:26] shadyvb opened #12 "Syntax Error in pre-commit ?"
[code]

[2013-10-15 17:55] #12 closed, assigned to nobody

[2013-10-30 19:36] westonruter opened #14 "Add phpDoc validator"

[2013-11-01 23:50] westonruter opened #16 "Update .travis.yml to check against master and latest"
See https://github.com/wp-cli/wp-cli/pull/855 and #15.

I don't think we need to hard-code the previous version to test against. We can just stick with `latest` and `master`.

Note also the patch that was made to `install-wp-tests.sh`

[2013-11-06 20:15] westonruter opened #19 "Add README.md support for README.txt YouTube embeds"
Need to add it here: https://github.com/x-team/wp-plugin-dev-lib/blob/5de1b8e9338ddce03e4ebdfe3f3cc77794c8686b/class-wordpress-readme-parser.php#L88-L93

See: http://make.wordpress.org/core/2010/02/20/plugins-can-now-include-videos-in-their-readme-txt-files/

Transform the following in `readme.txt`:

[code]

Into the following in `readme.md`:

[code]

[2013-11-06 20:38] jonathanbardo opened #20 "Format code for Github use"
It would be nice to have a way to format single quote code block from readme.txt into triple quote code block for Github use.

So :
`<?php echo 'hello'; ?>`

Would appear in readme.md :
[code]

[2013-11-07 08:08] #19 closed, assigned to nobody

[2013-11-07 16:38] #16 closed, assigned to nobody

[2013-11-16 08:20] westonruter opened #21 "Only run staged JS into JSHint"
Currently, a fix can be applied but not staged, and this passes JSHint. We need to pass the staged file into JSHint instead.

[2013-11-16 08:20] westonruter opened #22 "Only run staged PHP through PHP_CodeSniffer"
Same reasons as #21

[2013-11-18 19:14] westonruter opened #23 "Add PHP Depend"
http://pdepend.org/

[2013-11-18 19:15] westonruter opened #24 "Provide Jenkins config to accompany .travis.yml"

[2013-11-27 15:53] jonathanbardo opened #26 "Build status for master branch only"
As per Travis documentation, I think it's best to show the readme build status on the master branch only.

[2013-12-02 09:24] #26 closed, assigned to nobody

[2013-12-17 21:59] frankiejarrett opened #27 "Option for Travis CI graphic to only reference the primary branch"
Since Travis CI is testing all branches often times the graphic shows that the build is failing even though the primary/stable branch is passing.

There needs to be an option to only point to the `master` branch (or whatever the stable branch is) for generating the graphic.

![screen shot 2013-12-17 at 3 57 17 pm](https://f.cloud.github.com/assets/522158/1768712/8fa04424-6766-11e3-9eae-32b518fe7af

[2013-12-17 22:01] #27 closed, assigned to nobody

[2013-12-26 15:56] JDGrimes opened #28 "Allow readme syncing to be disabled"
There are cases where one might want the other stuff, but would like to turn of the readme syncing.

I think it would be generally useful to add support in the precommit file for an additional configuration file to be loaded, so that it could be configured/extended without hacking it. I guess that might be for another issue, though.

[2014-01-04 21:48] JDGrimes opened #29 "Inconsistent naming of the PHPCS ruleset.xml file"
In `.travis.yml` and `pre-commit`, it is referenced as `ruleset.xml`. However, the name of the file in the repo, and the symlink created by following the readme's instructions, is `phpcs.ruleset.xml`. This may be intended, but I don't see any documentation to that effect. (My 2¢: I'd prefer to just make it `phpcs.ruleset.xml` across the board, if there is no intended difference.)

[2014-01-04 22:55] #29 closed, assigned to nobody

[2014-01-15 20:05] westonruter opened #30 "Introduce .ci-config.sh to override Travis and pre-commit defaults"
There should be a `.ci-config.sh` (or something) which exports various Bash variables which can be read-in by `.travis.yml` and `bin/pre-commit`.These variables can control things like:

- [x] Allow readme syncing to be disabled (#28)
- [x] Where to fetch PHP_CodeSniffer from (also should grab from GitHub instead of Pear), and which branch or tag to use.
- [x] Where to fetch WordPress Coding Stand

[2014-02-25 16:28] shadyvb opened #31 "Require documentation blocks for functions and inline filters/actions"

[2014-03-01 10:21] shadyvb opened #32 "Check text-domain compliance"
- [ ] Check if a text-domain header exists ( if is a plugin / theme )
- [ ] Check all instances of translation functions to confirm the text domain is typed correctly

[2014-04-02 23:13] westonruter opened #33 "Add support for QUnit testing"
Plugins and themes should be able to easily tap into using QUnit to test JS.

[2014-04-22 13:18] JDGrimes opened #34 "Using outdated WP unit test framework"
The tests are being run using WordPress's old unit testing framework, which is no longer maintained: http://unit-tests.svn.wordpress.org/trunk/ (https://unit-tests.trac.wordpress.org/)

I don't know if there are many very significant improvements in the [maintained framework](https://core.trac.wordpress.org/browser/trunk/tests/phpunit), but there have been a few bugfixes. So I think we should move

[2014-05-01 15:15] #34 closed, assigned to nobody

[2014-06-13 18:38] westonruter opened #37 "Add checks from VIP's SVN pre-commit hook"
The VIP `pre-commit` hook runs JS through YUI Compressor to do syntax checking. We need to do the same for the `pre-commit` hook and the `.travis.yml`, something like:

[code]
- [x] Check syntax with YUI Compressor
- [x] Check with VIP which other commands are included in the SVN `pre-commit` hook (see https://github.com/Automattic/vip-quickstart/issues/204)

[2014-07-04 07:41] #9 closed, assigned to nobody

[2014-07-31 01:49] westonruter opened #38 "Add support for node-jscs"
https://github.com/mdevils/node-jscs

Work out ruleset for WordPress JS.

[2014-10-10 22:29] westonruter opened #40 "Reduce redundancy between pre-commit and .travis.yml files"
Consolidate default environment variables into a common script included by both Travis and `pre-commit` hook. Reduce redundancy.

[2014-10-12 10:07] westonruter opened #41 "Check all symbolic links to ensure valid"

[2014-10-14 23:01] westonruter opened #42 "Add support for VIP Scanner"

[2014-10-21 00:44] westonruter opened #43 "Add .gitattributes file to enforce proper EOLs"
For instance:

[code]

[2014-10-21 00:56] westonruter opened #44 "Add git config Bash script which should be run with vvv-init.sh"
This can set things like:

[code]

Since normally WordPress repos do not include files with execute bit turned on.

This script can then be run by `vvv-init.sh`.

[2014-10-21 00:57] westonruter opened #45 "Add sample vvv-init.sh"
See #44

[2014-10-22 19:06] westonruter opened #46 "Automatically (re-)generate POT files"

[2014-10-24 00:09] shadyvb opened #47 "Add support for CSS validation"
Something like https://www.npmjs.org/package/grunt-w3c-validation would be a great thing to have.

[2014-12-01 11:53] westonruter opened #49 "Prevent invoking YUI Compressor if there are no JS files to check"

[2014-12-01 11:58] #37 closed, assigned to nobody

[2014-12-08 16:21] JDGrimes opened #53 "contributing.md file mentions non-existant develop branch"
From `contributing.md`:

But there isn't any `develop` branch at the moment.

[2014-12-08 21:39] #53 closed, assigned to nobody

[2014-12-11 20:06] desaiuditd opened #55 "SVN Error when executing svn-push script"
When there's no files to be deleted according [this logic](https://github.com/xwp/wp-dev-lib/blob/master/svn-push#L119) `svn rm` commands fails in syntax as it does not get any files to remove as expected.

![screenshot from 2014-12-12 01 32 08](https://cloud.githubusercontent.com/assets/2236554/5401137/e3583fba-819e-11e4-8a51-17d48a3e0509.png)

An empty string check needs to be added.

[2014-12-13 03:42] westonruter opened #57 "Add support for Codeception"
When the project includes Codeception tests, the `pre-commit` and `travis.script.sh` scripts should run them.

[2014-12-15 23:24] westonruter opened #58 "Make sure that Travis build URL gets derived from a GitHub remote"

[2014-12-22 12:46] desaiuditd opened #60 "exclude assets folder"
Not sure whether this is an issue or not. But I was facing it and I had to fix it with patch-work.

There's an exclude flag in rsync to fetch repo files from git into svn. [Ref](https://github.com/xwp/wp-dev-lib/blob/master/svn-push#L109).

So what is this doing is; excluding all the `assets` folder from the repository; and not just the one which is required for banners & screenshots. For example,

[2015-01-02 08:44] desaiuditd commented on #55
Hi @westonruter ,

the snippet  you suggested, works for me. I think it can be included in the script. Thanks :smile:

[2015-01-02 08:44] desaiuditd commented on #60
Hi @westonruter ,

Yup. That worked for me. Thanks. :smile:

[2015-01-02 08:45] desaiuditd commented on #60
Do you think this should go in script ?

[2015-01-02 08:53] westonruter commented on #60
@desaiuditd yes, would you mind opening a PR to make that change? I'm heading to bed :smile:

[2015-01-02 08:54] westonruter commented on #60
Nevermind, hah. Let me throw it up...

[2015-01-02 08:55] desaiuditd opened #61 "svn-push script error after readme parse"
I already have setup pre-commit hook where readme.txt is getting parsed on each commit. Of course if there are any changes.

So when i release my plugin on WordPress.org using `svn-push` script, it has nothing new to parse in readme.txt and readme.md stays intact as it is.

And then `svn-script` throws this error and exits.

[code]

When I try `git status` it gives me `readne.md` in unstaged secti

[2015-01-02 08:58] desaiuditd commented on #60
Yeah. I'll do it. :+1:

[2015-01-02 08:58] #60 closed

[2015-01-02 09:03] westonruter commented on #61
Actually, it shows that the changes to `readme.md` *have* been staged. What does `git diff --staged` show?

[2015-01-02 09:17] desaiuditd commented on #60
Oh. Thanks :)

[2015-01-02 18:36] #55 closed

[2015-01-02 23:12] fjarrett opened #64 "Assets are not being pushed to SVN"
I recently pushed a [brand new project](https://github.com/fjarrett/user-session-control) to WP.org and the assets dir did not transfer to [the SVN repo](http://plugins.svn.wordpress.org/user-session-control/assets/).

My steps were simply adding a `svn-url` file and running `$ dev-lib/svn-push`.

[2015-01-02 23:15] fjarrett commented on #64
My console output was:

[code]

[2015-01-02 23:17] fjarrett commented on #64
Tried re-uploading just those screenshots and running a force push. Still no luck.

[code]

[2015-01-03 00:09] westonruter commented on #64
@fjarrett can you see if #65 fixes the problem?

[2015-01-03 01:12] #64 closed

[2015-01-03 16:15] JDGrimes opened #66 "Validate XML config files"
I'm currently using:

[code]

Other things will usually break anyway if these are invalid, though.

[2015-01-03 17:36] fjarrett opened #67 "Support syntax highlighting in code blocks"
AFAIK the only way to achieve a code block in `readme.txt` is to use the `<pre>` tag.

It would be nice to add support for a `lang` attribute so that syntax highlighting can be added when converting to markdown.

**TXT**
[code]

**Markdown**
[code]

[2015-01-03 17:40] kucrut commented on #67
Hmm, you can already use backticks:

[code]

[2015-01-03 17:40] fjarrett commented on #67
Oh wow. To my surprise this already works! :smile:

![screen shot 2015-01-03 at 11 39 18 am](https://cloud.githubusercontent.com/assets/522158/5603197/4a8728cc-933d-11e4-889f-40d06d156214.png)

![screen shot 2015-01-03 at 11 39 38 am](https://cloud.githubusercontent.com/assets/522158/5603198/4f15d4b0-933d-11e4-9abd-4b8009cdc5d2.png)

[2015-01-03 17:42] fjarrett commented on #67
@kucrut That's what I thought too, but single backticks were breaking the page when used in the FAQ tab on my WordPress.org plugin.

[2015-01-03 17:47] fjarrett commented on #67
I'm going to reopen this because I do think there is some slight room for improvement.

It would be cleaner if `<pre lang="php">` converted to ```php in markdown.

[2015-01-03 18:22] westonruter commented on #67
So `<pre lang="php">` is part of the WP `readme.txt` “standard”? I don't see it mentioned on https://wordpress.org/plugins/about/readme.txt

Is it a hidden feature?

[2015-01-03 18:23] fjarrett commented on #67
@westonruter Not sure if it's part of the "standard", but it does seem to work.

[2015-01-03 18:23] westonruter commented on #67
That's great. I was wondering how we could implement that.

[2015-01-03 18:35] westonruter commented on #67
@fjarrett let me know how #68 works for you.

[2015-01-07 04:10] fjarrett commented on #46
:+1: for this feature! It will be so handy to do this on the `pre-commit` hook.

[2015-01-07 17:46] fjarrett opened #69 "What is the process for cleaning up a failed SVN push?"
Today I did a force push on a repo to update some assets and the script hung.

![screen shot 2015-01-07 at 11 42 20 am](https://cloud.githubusercontent.com/assets/522158/5650253/5fdd69a2-9662-11e4-83f5-61b2b2e06e49.png)

How do I unlock and destroy the temp directory so I can try the push again?

[2015-01-07 17:47] fjarrett commented on #69
Full output from the console:

[code]

[2015-01-07 17:49] westonruter commented on #69
See these lines?

[code]

You can `rm -rf` those `tmp` directories.

[2015-01-07 17:50] fjarrett commented on #69
@westonruter Thanks!

[2015-01-07 18:07] westonruter commented on #69
We should probably detect failures like this and blow away the directories
to start fresh automatically.

[2015-01-07 18:15] westonruter commented on #69
Proposal:

When an SVN push starts, touch a temp file like `/tmp/${plugin_slug}.lock`. If you invoke `svn-push` and this file already exists, then the repo directories should be blown away and started from scratch. After a successful SVN push, the lock file can be removed to allow subsequent pushes to go faster.

[2015-01-08 09:36] #67 closed

[2015-01-09 07:52] fjarrett opened #70 "Set the correct MIME type for assets on SVN commit"
As explained in [this article](http://wptavern.com/plugin-authors-how-to-avoid-download-prompts-associated-with-screenshots-on-the-wordpress-plugin-directory) on WP Tavern:

[2015-01-09 08:29] westonruter commented on #70
@fjarrett try out #71.

[2015-01-09 17:28] #70 closed

[2015-01-10 20:24] fjarrett opened #72 "Prefer secure URIs when generating README"
I think we should use secure URIs whenever possible.

Ex: https://wordpress.org, https://www.youtube.com, https://profiles.wordpress.org

[2015-01-10 20:52] fjarrett commented on #72
@westonruter Issue stealer... :smile:

[2015-01-10 21:04] fjarrett commented on #69
:+1: from me for this

[2015-01-10 21:05] #72 closed

[2015-01-10 21:06] westonruter commented on #72
Sorry. You didn't self assign it :smile:

[2015-01-10 21:07] fjarrett commented on #72
@westonruter Actually, I did :smile:

![screen_shot_2015-01-10_at_3_07_08_pm](https://cloud.githubusercontent.com/assets/522158/5693250/6f23415a-98da-11e4-888c-915c8d2faadd.png)

[2015-01-10 21:12] westonruter commented on #72
BLAST. Sorry. I didn't even look. Shame on me. :frowning:

[2015-01-10 21:13] fjarrett commented on #72
I forgive you. :smile_cat:

[2015-01-10 21:17] westonruter commented on #58
This was fixed in https://github.com/xwp/wp-dev-lib/commit/2fa80d067c7890ac70ee485da4cef62afd9782bf

[2015-01-10 21:17] #58 closed

[2015-01-10 21:23] westonruter commented on #20
We finally got to this in #67, but I didn't see the note here about `~~~lang`. Is this still an advantage?

[2015-01-13 11:14] desaiuditd commented on #61
Ah ! Got the issue. I had used HTTP clone url. So it was updating the travis badge url & then not commiting it.

Can we support HTTP clone url as well along with SSH clone url ?

[2015-01-13 11:16] desaiuditd commented on #61
Usually, I release the plugin from a cloud server where there are less chances of loosing the network connectivity. So that release doesn't get stuck in between. And server does not have its ssh key added in the repository.

So do you suggest any workaround there ?

[2015-01-13 17:34] westonruter commented on #61
@desaiuditd are you using the version of `svn-push` as of 26 days ago? You can see in the RegEx for the GitHub URL that it should be supporting HTTP and HTTPS, in addition to SSH: https://github.com/xwp/wp-dev-lib/blob/d328d444440cd3905d043c4407c12babc09dcecb/generate-markdown-readme#L43

[2015-01-13 18:28] desaiuditd commented on #61
Oh ! Looks like I'm using an older version. I'll give it a try for latest version. You ma close this one. If I'm still stuck I'll re-open this.

[2015-01-13 19:32] westonruter commented on #61
Cheers!

[2015-01-13 19:32] #61 closed

[2015-01-15 00:34] westonruter opened #76 "Convert all symlinks into files when pushing to SVN"

[2015-01-15 16:47] westonruter opened #77 "Integrate phpcs-patch into Travis and pre-commit hook"
We need to facilitate only reporting PHP_CodeSniffer issues for lines that are part of changes in the pull request (on Travis) or as part of the current commit (Travis or `pre-commit` hook).

This depends on https://github.com/xwp/PHP_CodeSniffer/pull/5

When running on Travis, we need to look at the `TRAVIS_COMMIT_RANGE` environment variable. For `pre-commit`, we obviously just look at the stage.

[2015-01-21 17:28] fjarrett opened #78 "GitHub release tag not created after SVN push"
I've noticed that after running `svn-push` an SVN tag is created properly but a GitHub release tag is not.

I believe in the past a GitHub tag was being created.

Am I doing something incorrect or is this a bug?

[2015-01-21 19:54] westonruter commented on #78
@fjarrett it should be creating the release tag just fine: https://github.com/xwp/wp-dev-lib/blob/88d464667aa4859e285f62010f7a7b75e96f3385/svn-push#L169-L177

[2015-01-21 19:58] fjarrett commented on #78
@westonruter OK thanks for confirming that it should be.

I had to create a tag manually for Stream because I noticed it wasn't there.

I've checked all my recent plugin projects and none of them have GitHub tags. Not sure what I am doing wrong, but I must be doing it wrong everywhere. #ibreakthings :smile_cat:

https://github.com/fjarrett/archived-post-status/releases
https://github.com/fjarrett/

[2015-01-21 20:00] westonruter commented on #78
Next time you do a release, can you include the script output?

Are the tags getting created locally, but just not pushed to GitHub?

[2015-01-21 20:01] westonruter commented on #78
If the tags were created locally, then you could push then *en mass* via `git push --tags`

[2015-01-21 20:02] fjarrett commented on #78
@westonruter That did the trick: https://github.com/fjarrett/archived-post-status/releases

[2015-01-21 20:02] westonruter commented on #78
But it looks like maybe the `svn-push` script should make this change:

[code]

[2015-01-21 20:03] fjarrett commented on #78
:+1:

[2015-01-21 20:04] westonruter commented on #78
If that fixes the problem, then please open a PR with that change.

[2015-01-21 20:05] westonruter commented on #78
I don't see my above syntax from http://stackoverflow.com/a/2988182/93579

Mentioned on http://git-scm.com/book/en/v2/Git-Basics-Tagging#Sharing-Tags

So I'm confused.

[2015-01-21 20:09] fjarrett commented on #78
Maybe the method used in the docs requires Git 2.0? I am using 1.9.3.

[2015-01-21 20:15] westonruter commented on #78
Oh, I see it mentioned in the `--help` for `git push`:

So go ahead and try adding the above change with your next push, and see what happens!

[2015-01-21 21:48] fjarrett commented on #78
I just pushed a new release on a plugin and that line change didn't work. The tag was not pushed to GitHub.

[2015-01-21 21:49] fjarrett commented on #78
Console output:

[code]

[2015-01-21 22:25] westonruter commented on #78
Humm. This part:

[code]

Makes it look like it is pushing the tag to a clone on your own system? Like `origin` is not a remote pointing to GitHub?

[2015-01-21 22:33] fjarrett commented on #78
Here is my config:

![screen shot 2015-01-21 at 4 33 18 pm](https://cloud.githubusercontent.com/assets/522158/5846694/47d21d74-a18b-11e4-8d17-647d02f1b272.png)

[2015-01-21 22:42] fjarrett commented on #78
You know what, I had the wrong branch checked out on `dev-lib` before I changed that line. I will try again on another plugin later.

[2015-01-21 22:44] westonruter commented on #78
Actually, I'm getting the same issue. No releases: https://github.com/xwp/wp-widget-favorites/tags

So it's happening on my machine too. I'll try to debug on next release for Widget Favorites.

[2015-01-21 22:44] fjarrett commented on #78
OK :smile:

[2015-01-29 11:33] #69 closed

[2015-02-01 23:27] westonruter opened #81 "Omit including Tags metadata in readme.md if no Tags supplied in readme.txt"
https://github.com/xwp/wp-dev-lib/blob/71c8a0f287126f8335aa3b4d7db945f5ab0df48f/class-wordpress-readme-parser.php#L153-L161

[2015-02-19 01:58] #78 closed

[2015-02-20 14:50] JDGrimes opened #82 "Improve Travis build time"
I was working on improving the build time for a plugin a while back, and I found that there is potential here for some significant improvements:

- Run codesniffing tools only once. There's no need to install all of these tools for each and every build only to run them over the same code. [WordPress has implemented this](https://core.trac.wordpress.org/browser/trunk/.travis.yml).
- The PHP syntax

[2015-02-20 16:13] westonruter commented on #82
Awesome! Yes, I'd love to see a PR for this. This would really help with private repos on Travis, where build time is a premium. /cc @shadyvb

[2015-02-21 03:17] ntwb commented on #82
Seeing as I'm watching this repo, a couple more suggestions in addition to @JDGrimes:

If you move to checking out the WordPress develop repo it includes everything needed for PHPUnit and WordPress tests, also checking out with Git it is significantly faster than what `wp-dev-lib` is currently using here via WP-CLI's wget/svn checkouts.

No need for for the MYSQLi database layer any more.

Take a

[2015-02-21 20:59] westonruter commented on #82
@ntwb thanks for the input!

For reference, here is what WP-CLI is doing: https://github.com/wp-cli/wp-cli/blob/master/templates/install-wp-tests.sh

Right, a `git clone` with `--depth=1` I suppose would be faster than an SVN checkout, or maybe just as fast, since it would only be making one request instead of downloading/checking out multiple SVN URLs.

Will you be opening a PR to improve that `i

[2015-02-23 20:55] JDGrimes opened #83 "Organize files into directories"
Any thoughts on organizing the files into directories?

1. This makes things more organized, which may be useful as more stuff is added.
1. Having some files in the main directory is a pain. For example, we can't have Travis run syntax checks on the files for us, because the example .travis.yml is in the main directory.

I'm thinking of something like this:

[code]

The only issue is that this isn

[2015-02-23 20:59] westonruter commented on #83
You're right. It does need directory organization.

Not concerned so much with backwards-compat. If plugin repos are using the submodule, then they'll not break since they'll reference a commit hash anyway, a point where the old directory structure was in place. It's just that updating the submodule after this change may require some symlink updates in the contained plugin/theme repo as well.

[2015-02-23 21:05] JDGrimes commented on #83
Right. I just wanted to make sure that it wasn't overlooked.

---

So, basically, I think all files (except readme.md and contributing.md, etc.) should be moved to supdirectories.

[2015-02-23 21:13] JDGrimes commented on #83
Would you like me to submit a PR, or should I work on #82 first? I think things will get tangled if this happens in the middle of work on something else.

[2015-02-23 21:18] westonruter commented on #20
Gonna close this. A PR can be opened with the change for `~~~` if it is desired.

[2015-02-23 21:18] #20 closed

[2015-02-23 21:20] westonruter commented on #83
Let's hold off on the re-org until later, yeah.

[2015-02-24 20:52] westonruter commented on #38
Some work is starting on a WordPress standard for jscs: https://github.com/jscs-dev/node-jscs/issues/1099

[2015-03-11 08:10] szepeviktor opened #86 "assets branch"
May I suggest assets to be in a separate **git** branch?

[2015-03-11 08:13] westonruter commented on #86
You're talking about for `svn-push`, right? I can see how this would be useful.

[2015-03-11 08:15] szepeviktor commented on #86
I think access to assets are rearly needed.

[2015-03-11 08:16] szepeviktor commented on #86
Have you meant `can't`?

[2015-03-11 09:15] westonruter commented on #86
No. I *can* see that it could be useful to obtain the `assets` directory for WordPress.org from another branch instead of an `assets` directory. However, it is very useful to be in the same branch and they can be accessed from the README. See for example: https://github.com/xwp/wp-widget-customizer#screenshots

[2015-03-11 18:11] szepeviktor commented on #86
I see.
Is it possible to link images from another branch?

[2015-03-11 20:37] westonruter commented on #86
I don't think you can do it as cleanly on GitHub.

[2015-03-11 22:25] szepeviktor commented on #86
[code]
https://github.com/szepeviktor/frontend-debugger

What is the culprit?

[2015-03-19 01:31] westonruter commented on #38
Looks like jscs support for WordPress has landed! https://github.com/jscs-dev/node-jscs/issues/1099

[2015-03-19 01:31] westonruter commented on #38
See https://github.com/jscs-dev/node-jscs/pull/1105

[2015-03-31 20:26] westonruter commented on #38
Proposed addition to Core: https://core.trac.wordpress.org/ticket/31823

[2015-04-01 16:20] #38 closed

[2015-04-01 19:43] westonruter commented on #21
This has been done for awhile: https://github.com/xwp/wp-dev-lib/blob/d5426d43b8d66a092eafd6c425cbe529bfb0506c/pre-commit#L61-L62

[2015-04-01 19:43] #21 closed

[2015-04-01 19:44] westonruter commented on #22
This has been done for awhile: https://github.com/xwp/wp-dev-lib/blob/d5426d43b8d66a092eafd6c425cbe529bfb0506c/pre-commit#L94-L95

[2015-04-01 19:44] #22 closed

[2015-04-01 19:45] westonruter commented on #14
See https://twitter.com/westonruter/status/567236315146506240

[2015-04-24 17:57] fjarrett opened #91 "Recent changes to install-wp-tests.sh in WP-CLI causing Travis builds to fail"
We are [referencing `install-wp-tests.sh` directly](https://github.com/xwp/wp-dev-lib/blob/master/travis.before_script.sh#L34) from the WP-CLI project in `travis.before_script.sh`.

And ever since [these changes](https://github.com/wp-cli/wp-cli/commit/55a7fe2172cca0094658851f444aff3387b9b909#diff-85) were merged into the WP-CLI master branch yesterday, I have been experiencing [build failures](ht

[2015-05-19 06:50] westonruter commented on #77
I've worked out a way for Travis to filter PHP_CodeSniffer and JSHint issues just to issues reported on the changes within a PR: #95.

[2015-06-23 16:45] westonruter opened #99 "Update PHP syntax check to abort when an error is encountered"
See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/pull/410

[2015-06-30 18:06] westonruter opened #100 "Only check patches in pre-commit hook"
Implement the same thing that was done for Travis https://github.com/xwp/wp-dev-lib/pull/95 to also do on the `pre-commit` hook. We're already limiting checks to modified files, but we should limit the errors reported to just the lines changed in the files.

[2015-07-09 21:03] fjarrett opened #101 "Fail gracefully when using less than PHP 5.4"
Users with PHP 5.3.29 or lower will receive a fatal error when attempting to generate markdown for `README.md` and may not know why:

[code]

Either this should fail gracefully with an exception message, or compatibility with lower PHP versions should be considered.

[2015-07-11 06:21] westonruter commented on #101
Good call. It needs to explicitly pass in the context to the closure, for instance:

[code]

And then use `$that` instead of `$this`. This is a limitation in PHP 5.3, but one which is all too familiar in JS land :smile:

[2015-07-13 18:38] westonruter opened #102 "Speed up Travis builds by caching downloads used in container-based infrastructure"
http://docs.travis-ci.com/user/migrating-from-legacy/#How-Do-I-Cache-Dependencies-and-Directories%3F

We'll need to make sure they get updated periodically, however.

[2015-07-23 20:27] westonruter commented on #42
This needs to be opt-in via `.ci-env.sh`, probably indicating which directory within a theme or plugin should be looked for. VIP Scanner needs to be prevented from checking PHPUnit tests.

[2015-07-23 20:28] westonruter commented on #42
I've opened a PR to add exit codes for the `wp vip-scanner scan` command: https://github.com/Automattic/vip-scanner/pull/289

This is a dependency to be able to use VIP Scanner effectively in a `pre-commit` hook and Travis script.

[2015-08-08 04:13] #99 closed

[2015-08-17 15:48] westonruter commented on #4
Porential starting ruleset: https://gist.github.com/GaryJones/52b88024fd02a662233e

[2015-08-18 23:10] westonruter commented on #102
This may not help at all actually:

http://docs.travis-ci.com/user/caching/#Things-not-to-cache

[2015-08-18 23:12] westonruter commented on #91
We're now including our own version of `install-wp-tests.sh`

[2015-08-18 23:12] #91 closed

[2015-08-19 03:44] yani- commented on #4
I'm working on a pull request.

[2015-08-22 06:54] westonruter commented on #47
@mehigh are you aware of a CSS/SCSS validation tool that we should incorporate into our code checks?

[2015-08-22 06:58] westonruter commented on #47
PHP_CodeSniffer can run checks on CSS, though we haven't used them before:

https://github.com/squizlabs/PHP_CodeSniffer/tree/master/CodeSniffer/Standards/Squiz/Sniffs/CSS
https://github.com/squizlabs/PHP_CodeSniffer/tree/9dd0ada629d115e6ac9fbea7cac944f2775539ec/CodeSniffer/Standards/MySource/Sniffs/CSS

[2015-08-22 06:59] westonruter commented on #47
See also: https://xwp.github.io/engineering-best-practices/css/#syntax-formatting

[2015-08-22 07:36] ntwb commented on #47
@westonruter I'm working on adding PostCSS and Stylelint to WordPress core, hoping to get the last of this sorted next week https://core.trac.wordpress.org/ticket/29792#comment:34

Should also be able to extend to SCSS support now that PostCSS 5.0 is out

[2015-08-22 10:44] mehigh commented on #47
@westonruter I did not use a SCSS validation tool as the compiler is the first line of defence in catching errors. The compilers never generates invalid code.

At the slightest hick-up you get very verbose descriptions of the error. This is what I got when I typed
p { h }

Message:
    scss/common/_header.scss
  284:6  property "h" must be followed by a ':'
Details:
    column: 6
    line: 284

[2015-08-22 10:48] mehigh commented on #47
I gave http://csslint.net/ a try. And through 270 warnings I got from the stylesheet generated, I noticed 12 valid items which I had included in improving the code base here:
https://github.com/xwp/xwp.co/pull/53

But it has too big of a signal-to-noise ratio to be a recommendation.

[2015-08-22 11:06] mehigh commented on #47
An SCSS validator would only make sense if we're compiling the SCSS files on the server, as long as this thing is happening locally, it's not a requirement to be added in a pre-commit hook.

We could potentially do a 'catch all CSS is valid sort of tool' to be plugged-in regardless on the aspects of how the CSS is built on a per-project basis, but we would only be interested here in errors, and no

[2015-08-22 11:18] mehigh commented on #47
Stylelint seems to be a wee bit more modern than the CSSLint I just tried earlier.
http://benfrain.com/floss-your-style-sheets-with-stylelint/
Funny how the author went _"I go friggin’ ape if someone doesn’t put a space here: display:block"_
I bet he never liked the Stylus preprocessor. That's a thing I totally loved, but unfortunately didn't catch up much traction around.
So if I were to pick one

[2015-08-27 06:32] westonruter commented on #31
This is something for the WPCS project and should be handled by the newish `WordPress-Docs` standard.

[2015-08-27 06:32] #31 closed

[2015-08-27 06:40] westonruter commented on #40
We should introduce common script that is used by both the `pre-commit` hook and the Travis script that checks for code quality.

The script should:

- [ ] Detect if the phpcs/phpunit/jshint/jscs/etc dependency is already installed on the system at the point of execution, and if not install them on the fly (to a `/tmp` directory) so that they are only installed if the test gets to that point. (It

[2015-08-28 21:47] westonruter opened #106 "Add support for Travis doing svn-push on plugins after_success"
By using [encrypted environment variables](http://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables) in Travis, we can store WordPress.org SVN credentials directly in the `.travis.yml` file. In the Travis `after_success` config, we can then automatically do a commit to SVN for the plugin. We'll have to rework things to tag releases on WordPress.org. We could pick up the tag push o

[2015-08-31 22:43] #102 closed

[2015-09-08 18:57] westonruter opened #107 "Add commit-msg Git hook to enforce good commit messages"
https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks#Client-Side-Hooks

[2015-09-09 01:57] yani- commented on #107
:+1: I am taking over this ticket

[2015-09-18 20:00] westonruter commented on #40
Stashed WIP commit in https://github.com/xwp/wp-dev-lib/compare/feature/pre-commit-improvements

[2015-10-05 20:06] westonruter commented on #100
Work in progress: https://github.com/xwp/wp-dev-lib/compare/feature/pre-commit-improvements

[2015-10-08 20:13] westonruter commented on #107
This would go nicely with a `prepare-commit-msg` hook which tried to automatically formulate a commit message based on the feature branch, e.g. extract a JIRA ticket number or GitHub issue.

[2015-10-16 15:30] fjarrett opened #109 "Use SVG version of Travis-CI badge for high-resolution displays"
I think the Travis-CI badge generated in the README markdown should use the SVG version in order to better support high-resolution displays.

**COMPARISON**

<img width="100" alt="screen shot 2015-10-16 at 10 26 39 am" src="https://cloud.githubusercontent.com/assets/522158/10545851/696e49de-73f0-11e5-9eb9-c77663f3e1bc.png"> <img width="100" alt="screen shot 2015-10-16 at 10 26 29 am" src="https://

[2015-10-16 15:44] #109 closed

[2015-10-16 15:45] westonruter commented on #109
Thank you!

[2015-10-30 05:47] insprintorob opened #112 "Proof of concept: Add antecedent to allow for mocking of wordpress functions in unit tests"
Heres a pull request that adds antecedent, which will allow you to mock wordpress functions in unit tests. The easiest way to do this is to use a tool like WP_Mock (https://github.com/10up/wp_mock).

This basically means that you can make, for example get_posts return a mocked set of 3 posts.

This would be useful if you have logic that depends on whats inside the post (for example, different logi

[2015-10-30 05:48] westonruter commented on #112
@insprintorob Humm. Where's the pull request?

[2015-10-30 06:10] insprintorob commented on #112
here: https://github.com/xwp/wp-dev-lib/pull/113

[2015-11-01 22:30] westonruter commented on #112
Closed in favor of #113.

[2015-11-01 22:30] #112 closed

[2015-11-04 06:30] westonruter opened #116 "Add sanity check that loads homepage and checks for errors and warnings"
In addition to PHPUnit tests, we can have a general sanity check which would be especially relevant to themes that may lack unit tests: we can fire up PHP to load the homepage of the site. The presence of an error should block `pre-commit` and it should cause the Travis build to fail.

[2015-11-09 09:49] valendesigns commented on #106
I think we should find a way to limit `svn_push` to when a tag is created on `master` or some other manual indication so it doesn't push every commit to master up to svn. It's especially important for those repos that haven't yet adopted a clear branching strategy and all commits and PR's are being sent to master.

[2015-11-09 09:58] valendesigns commented on #86
Raw files aren't cached and could put a lot of stress on Github.

[2015-11-09 21:35] #101 closed

[2015-12-15 18:07] westonruter commented on #4
Scope for this ticket would be:

- [ ] Settle on the right ruleset that enforces best _plugin_ architecture (not for themes), e.g. [foo-bar](https://github.com/xwp/wp-foo-bar)
- [ ] Integrate with Travis CI. (The `pre-commit` hook can be considered out of scope for this.)
- [ ] Ensure that the PHPMD report can be filtered to only apply to report issues that are part of the lines changed in the PR

[2016-01-04 17:59] westonruter opened #125 "Add ESLint integration"
e.g. https://www.npmjs.com/package/eslint-config-wordpress

[2016-01-06 07:26] westonruter opened #126 "PHPCS and WPCS should be downloaded in pre-commit if not already installed"

[2016-01-16 01:31] westonruter commented on #57
This was implemented awhile ago.

[2016-01-16 01:31] #57 closed

[2016-01-16 01:41] westonruter commented on #30
In #127 the config file is `.dev-lib` called, but it can also be `.ci-env.sh`

[2016-01-16 01:42] westonruter commented on #28
In #127 the readme sync can be disabled by adding the config `SYNC_README_MD=0`

[2016-01-22 00:14] #28 closed

[2016-01-22 00:14] #30 closed

[2016-01-22 00:14] #40 closed

[2016-01-22 00:14] #49 closed

[2016-01-22 00:14] #77 closed

[2016-01-22 00:14] #100 closed

[2016-01-22 00:14] #126 closed

[2016-01-25 20:14] westonruter opened #131 "Append commit message after pre-commit hook runs to indicate the checks passed"
It would be useful, for example, to see that the PHPCS checks passed and which specific version of the WordPress-Coding-Standards was used.

See also #107

[2016-01-26 03:43] westonruter commented on #116
We can re-use the database drop-in used by the PHPUnit tests.

[2016-02-19 21:04] westonruter commented on #125
`2.0.0` was just released: http://eslint.org/blog/2016/02/eslint-v2.0.0-released

Now would be a good time to get a standard config going and integrate it into the diff checker.

[2016-02-22 19:47] westonruter opened #135 "Recursively look for PHPUnit tests to run"
When a repo contains an entire site with multiple plugins as opposed to just containing an individual plugin, the PHPUnit tests will not currently get run. We the Travis integration and `pre-commit` hook need to find all `phpunit.xml` (or `phpunit.xml.dist`) files located within directory trees that contain changed files, and execute them.

[2016-02-22 19:48] westonruter opened #136 "Provide mechanism to force running PHPUnit tests locally"
At the moment, PHPUnit tries to run tests inside of Vagrant as the first choice. Running in Vagrant is slower than running on the host machine, and if PHPUnit is configured on the host machine then it should be used there instead.

[2016-02-23 07:44] #136 closed

[2016-02-25 22:14] Ritesh-patel commented on #81
@westonruter this has been fixed in 44ae78ed8b3b74d0e6350c8882c788f7cb8e460c and can be closed.

[2016-02-25 22:57] westonruter commented on #81
Thanks!

[2016-02-25 22:57] #81 closed

[2016-02-26 23:08] westonruter commented on #46
I don't think this is relevant anymore with the new reality of translate.wordpress.org

[2016-02-26 23:17] valendesigns commented on #46
I would do it with Grunt anyhow. This might be relevant for private repos that need transitions though.

[2016-02-27 00:35] fjarrett commented on #46
It's very relevant for private plugins, as well as free plugins alike that already have PO files and elect not to crowdsource the translations.

[2016-02-27 01:04] westonruter commented on #46
OK :smile:

[2016-03-01 16:28] #66 closed

[2016-03-01 23:45] #135 closed

[2016-03-04 16:14] westonruter opened #148 "Add default Grunt/Gulp file"
There is a [`Gruntfile.js`](https://github.com/xwp/wp-foo-bar/blob/master/Gruntfile.js) in wp-foo-bar which can be moved into this project and added in to foo-bar either as a symlink or required-in as a dependency that the project Gulp/Grunt file can extend/integrate.

[2016-03-13 19:47] ocean90 opened #152 "Broken Coveralls support?"
In 13db3de669402566fdb9f10ef6b461d2dce6b23f support for Coveralls was added.

Today I tried to include the file in the repo for GlotPress via https://github.com/GlotPress/GlotPress-WP/commit/2b79c989d4d34b8a92e86b392f8418d995c98353 and https://github.com/GlotPress/GlotPress-WP/commit/a0045d0c27efd0e8a7d52c94fdfcfae2c77b6f36, but it seems like the config file is now longer valid, see https://travis

[2016-03-13 21:13] westonruter commented on #152
Good question. I actually don't recall symlinking to the `.coveralls.yml` file but instead copying it along with the `.travis.yml`. But to be honest, I only have a limited familiarity with Coveralls.

@valendesigns Should the `src_dir` be removed?
@ocean90 In the mean time, if you copy the file instead of symlink, does it then work?

[2016-03-13 21:24] ocean90 commented on #152
I haven't tested that, but it looks like the option got removed in 1.0.0, see https://github.com/satooshi/php-coveralls/blob/master/CHANGELOG.md#100.

[2016-03-13 21:43] aristath commented on #152
I struggled getting coveralls to play nicely with my repos as well and in the end I just went for codecov instead. It's simpler and tbh it's also a lot better... You can even see the coverage on github directly :+1: https://github.com/codecov/browser-extension

[2016-03-13 23:12] ocean90 commented on #152
Well, coveralls [works](https://travis-ci.org/GlotPress/GlotPress-WP/jobs/115723609) without the `src_dir` value, but I agree that codecov looks much better.

Maybe provide a flag do decide which service should be used for coverage?

Example Project: https://codecov.io/github/WP-API/WP-API?branch=develop
Example Config: https://github.com/codecov/example-php/blob/master/.travis.yml

[2016-03-14 16:32] westonruter opened #153 "Add Codecov support (alternative to Coveralls)"
See https://github.com/xwp/wp-dev-lib/issues/152#issuecomment-196057974 from @ocean90:

[2016-03-14 17:01] ocean90 commented on #153
Some relevant lines about the current implementation for Coveralls:

* `can_generate_coverage_clover()`: https://github.com/xwp/wp-dev-lib/blob/f95a6e9e60fc261af655be929cee637e93149f41/check-diff.sh#L319-L328
  * Checks whether .coveralls.yml and composer.json with satooshi/php-coveralls exists
* `coverage_clover()`: https://github.com/xwp/wp-dev-lib/blob/f95a6e9e60fc261af655be929cee637e93149f41/c

[2016-03-15 00:38] #152 closed

[2016-03-15 16:04] westonruter commented on #125
See https://github.com/10up/Engineering-Best-Practices/blob/gh-pages/.eslintrc

[2016-03-20 21:16] ocean90 opened #156 "Support for plugin-dependent tests"
Has anyone some experiences with plugin-dependent tests and Travis CI?

`xwp_filter_active_plugins_for_phpunit()` has support for a `WP_TEST_ACTIVATED_PLUGINS` constant which looks fine, but I'm more interested on how to get the plugin installed during the build.

The `install` action is too early because the test suite gets installed on `script` via `run_phpunit_travisci()`. But I can't add somet

[2016-03-21 00:52] valendesigns commented on #156
I have a PR that does this for themes that I need to finish, and I can extend it to install dependencies for plugins, as well.

[2016-03-21 01:03] westonruter commented on #156
@ocean90 `WP_TEST_ACTIVATED_PLUGINS` doesn't currently work in the Travis CI context where a plugin is the sole part of the repo being tested. We're using it in `pre-commit` hook or in another CI environment where all of the plugins for a project are already installed and available, so activating just needs a filter.

I like your idea for adding support for a `after_wp_install` function that would

[2016-03-21 14:52] ocean90 commented on #156
@valendesigns You're referring to #150?

@westonruter Yeah, I already thought so. Looking at #150 and it seems like it can only handle plugins which are on GitHub, at least for now. So a `after_wp_install` "hook" is indeed more flexible. But I don't see any harm in doing both.

I'll play a bit with my idea now.

[2016-03-22 16:00] westonruter commented on #156
Is there anything remaining for this now that `WP_TEST_ACTIVATED_PLUGINS` and `after_wp_install` are both available?

[2016-03-22 16:02] ocean90 commented on #156
I don't think so. I'm happy with `after_wp_install`. :smile:

[2016-03-22 16:02] #156 closed

[2016-03-26 13:54] ocean90 opened #158 "phpunit runs twice in run_phpunit_local"
I set up my VVV install to [support running unit tests from host](https://github.com/Varying-Vagrant-Vagrants/VVV/pull/785/files).

But when the pre-commit now runs phpunit is called twice:

[code]

That seems to be caused by `$PATH_INCLUDES` which is `./` per default. `find ./ ! -path . ! -path '*/dev-lib/*' -name 'phpunit.xml*' | sed 's:/[^/]*$::'` ([source](https://github.com/xwp/wp-dev-lib/blo

[2016-03-28 06:33] westonruter commented on #158
I agree there is a problem here, but when I try `! -path .*` I get an error:

[code]

[2016-03-28 06:43] westonruter commented on #158
@ocean90 try #159.

[2016-03-28 10:16] ocean90 commented on #158
@westonruter It needs to be in quotes:

`find ./ ! -path '.*' ! -path '*/dev-lib/*' -name 'phpunit.xml*' | sed 's:/[^/]*$::'`

[2016-03-28 15:07] westonruter commented on #158
@ocean90 good point! :blush: I think #159 feels less hacky, so let's go with that until we “_find_” an alternative to `-mindepth` s needed.

[2016-03-28 15:07] #158 closed

[2016-03-29 18:01] ocean90 commented on #158
@westonruter I agree.

btw: Found #144 which does the same, except for the `dirname` part.

[2016-03-29 19:01] ocean90 opened #160 "parse_ini_file() doesn't work with bash files"
`generate-markdown-readme` loads `.dev-lib` via `parse_ini_file()` in https://github.com/xwp/wp-dev-lib/blob/fb7c84b7d76ea12eb8e8d03e77e756521c0e82b5/generate-markdown-readme#L65-L70.

This seems not work with the code from #157:

[code]

[2016-03-29 20:59] westonruter commented on #160
Humm, good to know. I see in the PHP.net info on `parse_ini_file()` that these are unsupported entirely in `7.0.0`:

And alas, putting anything other than simple variable assignments will also fail (such as a Bash function) for parsing with `parse_ini_file()`. So the workaround to re-use `parse_ini_file()` as a workaround for parsing variables out of a Bash script is no longer going to work.

[2016-03-30 01:51] westonruter commented on #160
@ocean90 how does #161 work for you?

[2016-03-30 11:03] ocean90 commented on #153
`generate-markdown-readme` needs to be updated as well to show the correct badge.

[2016-03-30 11:42] #160 closed

[2016-04-05 04:57] #33 closed

[2016-04-05 23:14] #125 closed

[2016-04-19 03:07] fjarrett opened #167 "Ignore PO/POT files during svn-push"
Translation source files (PO / POT) can sometimes add _megabytes_ to a plugin, depending on the number of strings it has.

I am making some assumptions here:

1. If you are bundle translations into your plugin, then you aren't getting community contributions via GlotPress.
2. If you are using `dev-lib` you are probably using an external public repo, like GitHub, to accept developer _and_ translati

[2016-04-19 03:10] fjarrett opened #168 "Ability to define an svnignore file for svn-push"
It would be _uh-mazing_ if an `.svnignore` file could be supported in the plugin root and honored during `svn-push`. It would allow developers to ignore anything dev-related that they don't want in the WordPress.org repo.

Currently, it's left solely up to `dev-lib` to magically decide what is dev and what isn't.
#167 is related.

[2016-04-19 04:28] westonruter commented on #168
Yes, this is a good idea. Right now the list of excludes is hard-coded: https://github.com/xwp/wp-dev-lib/blob/0bcb8c978cc6147d1f523091f2152d52b7cf6f5a/svn-push#L126-L144

[code]

There are two exclusion-related arguments for `rsync`:

[code]

So I think supporting this would be as simple as checking to see if `.svnignore` exists, and if so, use it as path for `--exclude-file` instead of manually

[2016-04-19 16:05] westonruter commented on #148
I suggest that we might even be able to eliminate `svn-push` in favor of re-using Grunt script, like using `grunt-wp-deploy`.

Here's one such Gruntfile: https://github.com/xwp/wp-customize-posts/blob/develop/Gruntfile.js

If we could factor out the logic from this Gruntfile into dev-lib to allow it to be `require`'d into a project's specific Gruntfile, then we could eliminate having to duplicate

[2016-04-19 16:18] westonruter commented on #14
There is now `WordPress-Docs` standard in WPCS for this.

See also #169.

[2016-04-19 16:18] #14 closed

[2016-05-14 15:30] #10 closed

[2016-05-30 16:09] chacha opened #180 "Filter out .mailmap"
From [this issue](https://github.com/xwp/stream/issues/850) on Stream:

Might be worth adding the `.mailmap` file to the exclusion list as it is no longer as useful when you've stripped away the git commit log.

[2016-05-30 21:00] jamesgol commented on #180
Didn't realize the wp-dev-lib library took care of this, so I added a PR for it.

[2016-05-31 04:16] #180 closed

[2016-06-04 19:12] westonruter opened #184 "Sunset JSCS"
JSCS is merging with ESLint: http://eslint.org/blog/2016/04/welcoming-jscs-to-eslint

Once JSCS is no longer maintained and the features are merged into ESLint, we need to make sure that ESLint config is updated to have all of the new JSCS rules, and then we can remove JSCS from dev-lib.

[2016-07-05 01:12] westonruter opened #189 "Audit ESLint rules and align with JS coding standards"
I just noticed that the `one-var` rule was incorrectly disabled, and fixed in #188.

We need to do an audit of the [JS coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/javascript/) and make sure the ESLint config is aligned.

[2016-08-04 05:51] westonruter opened #197 "Travis CI builds on pushes unexpected pass where builds on PRs fail"
![image](https://cloud.githubusercontent.com/assets/134745/17391616/6eeea954-59cc-11e6-97ec-9c35a4dfdc07.png)

FAIL: https://travis-ci.org/xwp/wp-customize-snapshots/builds/149661891
PASS: https://travis-ci.org/xwp/wp-customize-snapshots/builds/149661886

In looking at the false positive, we can see there is a failure to get the list of files changed: https://travis-ci.org/xwp/wp-customize-snapsho

[2016-08-04 05:51] westonruter commented on #197
This is only relevant when `CHECK_SCOPE` is `changed-files` or `patches`.

[2016-08-07 05:56] shadyvb opened #199 "Interactive installer"
It'd make the toolkit more accessible if we have an interactive installer that copies required files, installs the pre-commit plugin, and possibly install tools like PHPCS, WPCS, etc to the system as well.

[2016-08-07 06:56] westonruter commented on #199
Great idea!

[2016-08-08 21:33] westonruter commented on #32
This is now part of PHPCS.

[2016-08-08 21:33] #32 closed

[2016-08-11 07:53] shadyvb commented on #32
@westonruter Is this documented somewhere ?

I'm assuming we can use [PHPCS syntax](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml) to pass the text domain as a property to the sniff ? ie:
[code]

Would be a great addition to the interactive installer in #199 , and a hint in the bundled ruleset would be awesome as well ( can PR that if you confirm this is the right way to

[2016-08-11 16:57] westonruter commented on #32
Yeah, you can see an example here: https://github.com/xwp/wp-customize-posts/blob/f2a9eb47ff45d6f00d86d62890b06dbdbee89d49/phpcs.ruleset.xml#L5-L10

And yes, this would be a good thing to add to an interactive installer. The installer could ask if it's a VIP project, and if so, use `WordPress-VIP` standard in the ruleset, or else use `WordPress-Extra` (or `WordPress-Core`). And then it could confi

[2016-08-20 08:01] PatelUtkarsh opened #200 "phpunit error on submodule on vagrant"
On this line https://github.com/xwp/wp-dev-lib/blob/9374a7d79eb999f344c3f2eab25168f948d7e248/check-diff.sh#L599

I get `bash: .git/hooks/pre-commit: Not a directory`

`vagrant ssh -c "cd $ABSOLUTE_VAGRANT_PATH && export DIFF_BASE=$DIFF_BASE && export DIFF_HEAD=$DIFF_HEAD && export DEV_LIB_ONLY=phpunit && .git/hooks/pre-commit"`

`.git/hooks/pre-commit` is a wrong path for submodule as submodule's

[2016-08-20 08:10] #200 closed

[2016-09-08 00:36] westonruter opened #202 "Add support for .distignore"
See https://runcommand.io/wp/dist-archive/

[2017-01-13 09:19] kasparsd opened #207 "Allow wp-dev-lib to be added via npm"
npm allows adding `devDependencies` from GitHub repositories:

[code]

however this requires that the dependancy has the `package.json` definition which is currently missing from this project.

[2017-01-13 10:48] kasparsd opened #210 "DEV_LIB_PATH is ignored when running in Vagrant"
[Here we assume](https://github.com/xwp/wp-dev-lib/blob/f4604c83cb273353966ac324ee4b541546783cbf/check-diff.sh#L599) that `pre-commit` is in `dev-lib` instead of relying on the `$DEV_LIB_PATH`.

Suggested fix #209.

[2017-01-13 18:13] #207 closed

[2017-01-13 18:15] westonruter commented on #210
Merged #209. Thanks!

[2017-01-13 18:15] #210 closed

[2017-01-16 23:25] westonruter commented on #148
Ideally we'd be able to just symlink to a the `Gruntfile.js` inside of the `dev-lib` submodule and have it automatically configured to do the right thing. This is preferred over having to copy the `Gruntfile.js` out into the repo. Additional configurations could be provided for the `Gruntfile.js` via the `package.json` or perhaps `.dev-lib`.

[2017-02-24 17:20] westonruter opened #216 "Use `npm test` instead of trying to sniff for qunit in gruntfiles"
See todo in https://github.com/xwp/wp-dev-lib/blob/2e18d4e3860647b420e6caf3142685ebfb44a004/check-diff.sh#L762-L800

For nested projects, should they use `$( ls node_modules | wc -l ) == 0` like in #215?

[2017-03-16 22:24] kasparsd commented on #199
@shadyvb This is now possible with the npm support #207 added in #208. It will also automatically install the required libraries in the virtual machine and run the checks.

[2017-03-24 18:54] kasparsd opened #226 "PHP CodeSniffer checks pass when phpcs fails"
It appears that `phpcs` won't create the `phpcs-report` if it fails with a fatal error. This causes `PHP_CodeSniffer` to pass.

[code]

[2017-03-24 19:58] #226 closed

[2017-04-14 20:01] westonruter opened #231 "Support phpcs.xml and phpcs.xml.dist in addition to phpcs.ruleset.xml"
See https://github.com/wp-cli/scaffold-command/issues/2#issuecomment-294223186

We should start defaulting expect `phpcs.xml(.dist)` and not attempt to explicitly supply a standard, that is, unless there is an explicit `PHPCS_RULESET_FILE` or `WPCS_STANDARD` environment var defined.

[2017-04-19 15:42] glewiswp opened #232 "Files not scanned - Bitbucket Pipeline"
I'm attempting to set this up using a Bitbucket pipeline and it looks like `travis.script.sh` fires up but PHPCS never scans any files, like the .diff file is not being read properly inside of `check-diff.sh`. `travis.install.sh` runs without any issues but when I hit `travis.script.sh` in the execution the tests always return the following:

[code]

I've tried both install methods (submodule/non)

[2017-04-19 16:41] westonruter commented on #232
@glewiswp it has never been tested with Bitbucket pipelines, no.

You can see that there are some specific Travis environment variables that are read here: https://github.com/xwp/wp-dev-lib/blob/74c9cebc478ab377e84cec8d92e9f499db9db8e0/check-diff.sh#L58-L75

If you can open a PR with the equivalents for Bitbucket then it should work.

[2017-05-10 10:38] johnbillion opened #236 "Support PHPUnit when it's a Composer dependency"
I have a project where PHPUnit is a Composer dependency because we need to control the version of PHPUnit that's used.

It looks like dev-lib checks for the phpunit binary before manually downloading and installing it if necessary. It would be great if dev-lib could also check for `vendor/bin/phpunit` too, and use it if it's present.

[2017-05-10 21:37] westonruter commented on #236
Yes, good call. Similar to what has been done with using binaries installed locally via NPM, e.g. #215.

[2017-05-12 00:49] jhabdas opened #237 "Add License"
As it stands this repo is without license. Please add a license.

[2017-05-12 01:00] jhabdas commented on #237
https://blog.codinghorror.com/pick-a-license-any-license/

[2017-05-12 01:02] valendesigns commented on #237
We can definitely add a GLP license. Thanks for the request.

[2017-05-12 01:07] jhabdas commented on #237
Thanks. Whether you choose to copyleft or right will allow me to use this software legally, and I would appreciate using some of this software. Cheers.

[2017-05-12 03:26] #237 closed

[2017-05-12 03:52] jhabdas commented on #237
Thanks for the quick turnaround @westonruter

[2017-05-16 23:46] westonruter commented on #47
@ntwb Does stylelint support generating reports in the same formats as ESLint (namely `compact`)? If so, then we could incorporate it into the same patch-checking logic like: https://github.com/xwp/wp-dev-lib/blob/e52081ef1d1d42df50ab555f7d045d9143656ccb/check-diff.sh#L758-L776

[2017-05-17 00:07] ai commented on #47
@westonruter Stylelint is just PostCSS plugins. They uses common PostCSS warnings API — `result.message`. So you can just replace reporter with simple own code for any format.

@davidtheclark @hudochenkov do we have ESLint compact reporter? Also I think it is nice idea to have same output format (maybe as addition formatter).

[2017-05-17 00:16] ntwb commented on #47
stylelint includes 3 formatters out of the box, `json`, `string`, `verbose`

A quick search of NPM doesn't reveal a compact formatter, nor a quick GitHub search

As @ai notes it should be pretty quick and easy to create a "compact" formatter for us to use:

https://stylelint.io/developer-guide/formatters/

I'm happy to take a shot at writing `stylelint-formatter-compact` following ESLints example

[2017-05-17 01:14] ntwb commented on #47
I've got this right now based on ESLints compact format:

stylelint
[code]
ESLint:
[code]

Can publish as `stylelint-formatter-compact` or add it as a custom formatter here for `wp-dev-lib`

[2017-05-17 01:34] ntwb commented on #47
Initial release published https://www.npmjs.com/package/stylelint-formatter-compact

[2017-05-17 07:02] westonruter commented on #47
Started PR #239 for adding stylelint integration. I know that it is not correctly handling the `--formatter` argument. Please comment on the PR.

[2017-05-20 08:38] jhabdas commented on #184
fyi - this is a much saner way to handle the JavaScripts https://standardjs.com

[2017-05-20 08:42] jhabdas opened #240 "Apply licensing to source code"
#237 took the licensing part way there, but missed a couple of important points on making this code usable to the public.

To understand how to _apply_ the GPL to your source code please see the following:
https://choosealicense.com/licenses/gpl-2.0/

Also, it may be wise to consider one of [the other licenses](https://choosealicense.com/licenses/), such as GPL-3.0, LGPL or AGPL as GPL-2, unless a

[2017-05-20 08:44] jhabdas opened #241 "Compose source files"
Once #240 is worked out it would be super nice to see some of this stuff rolled into Composer packages, independently versioned and made available on [Packagist](https://packagist.org/).

[2017-05-20 08:49] jhabdas commented on #240
For the sake of clarity:

[2017-05-20 16:00] westonruter commented on #184
“standard” is not relevant here because WordPress has its own JavaScript coding standards.

[2017-05-20 16:15] westonruter commented on #240
I added the license via the facility that GitHub provides for adding a license to a project. I chose GPLv2 because it is the license used in WordPress.

[2017-05-20 16:16] jhabdas commented on #184
@westonruter is there an issue out to move them to standard?

[2017-05-20 16:22] jhabdas commented on #184
https://core.trac.wordpress.org/ticket/40828#ticket

[2017-05-20 16:33] jhabdas commented on #240
Weston. Sorry I should have been less wordy, hence the follow-up comment regarding applying the license. When I originally requested its addition I was hoping to leverage `wp-tools` but got blocked due to some files used in their repo without the GPL headers applied.

Here's the related issue adding the headers will allow them to resolve: https://github.com/gedex/wp-tools/issues/35

[2017-05-22 08:11] jhabdas commented on #240
Given most of these tools will be used in applications _outside_ of WordPress, but to _create_ things for WordPress, it may be preferable to change to an MIT or ISC license type, example:

https://github.com/antecedent/patchwork/blob/master/Patchwork.php#L3-L7

[2017-05-22 19:21] #240 closed

[2017-05-26 20:55] jhabdas commented on #240
Update. GNU AGPL licenses, a stronger copyleft license than the GPLv3, should be fine for use in WordPress themes and plugins. If the foundation tries and block them please direct attention here:
https://github.com/comfusion/hyperdrive/issues/41#issuecomment-304381094

I have lines out to both the Free Software Foundation and Software Freedom Law Center whom I will use to validate my finding for t

[2017-05-27 07:40] ntwb commented on #240
As I stated in the issue in your repo @jhabdas I wrote that it was incredibly impolite to ping people in your issues who have nothing to do with your project, you took it upon yourself to delete that comment and email me the following reason:

I'm writing this here because you cannot delete this comment.

Please do not ping me again in any of your issues, this goes for pinging any other WordPress

[2017-06-01 03:33] jhabdas commented on #241
@westonruter want me to take a crack at splitting out the readme generator and send up a pull for your review?

[2017-06-01 06:23] westonruter commented on #241
Splitting out the readme generator in what way?

[2017-06-01 06:25] jhabdas commented on #241
Creating a self-contained composer module. Sorry if the intent of this issue wasn't clear. If you'd prefer no sweat. Not sure what your intent was for bundling and versioning these scripts, if at all.

[2017-06-01 06:34] westonruter commented on #241
I think I'd want them to all be contained within the same repo to make it easier to add `dev-lib` to a repo just be adding it as a submodule.

[2017-06-01 06:35] jhabdas commented on #241
Agree. I was thinking submodules. What are your thoughts?

[2017-06-01 06:42] westonruter commented on #241
I suppose that would work, as long as projects initialize submodules recursively.

[2017-06-01 06:50] jhabdas commented on #241
K. I'll look into that first to see if it would cause an issue. Goal here is to keep things painless and easy to maintain and version.

[2017-06-01 07:53] jhabdas commented on #241
Looks I was going to try and compose the the readme markdown generator using the following pattern:

[code]

After moving the files I was able to create the composer package to test it out and noticed the following already exists on Packagist: https://packagist.org/packages/wpreadme2markdown/wpreadme2markdown

Not sure it'd be worth creating two of a similar thing.

I saw in https://github.com/xwp

[2017-06-01 08:09] jhabdas commented on #241
Going to close this for offline consideration and discussion, if desired.

[2017-06-01 08:09] #241 closed

[2017-06-02 21:35] #231 closed

[2017-06-04 15:15] kopepasah commented on #148
How would we handle cases where the Grunt configuration is quite different? For example, some project may not need many of the tasks included, or may have separate locations for files to process.

If we use something like [load-grunt-config](https://www.npmjs.com/package/load-grunt-config), this would allow us to have one Grunt and separate out tasks into their own location, allowing a specific pr

[2017-06-04 15:46] mehigh commented on #148
@kopepasah I would expect the configuration file to be filled in on a per-project basis, as the paths are always unique. And one can eventually turn on/off features using flags setup to true or false in the config file.

[2017-06-08 18:40] westonruter opened #244 "Update `.editorconfig` and `*.json` files to use tabs for indentation"
See https://core.trac.wordpress.org/ticket/40946

[2017-07-13 09:13] jhabdas commented on #237
FYI - https://hackernoon.com/introducing-the-btc-license-28650887eb11

[2017-07-24 06:12] mehigh commented on #148
This is being worked on in https://github.com/xwp/wp-dev-lib/pull/245
We've done good progress on a general FE workflow, but the scripts can be further improved upon once we start using this in production.

There was one thing we discovered:
"Ideally we'd be able to just symlink to a the Gruntfile.js inside of the dev-lib submodule and have it automatically configured to do the right thing. This i

[2017-07-24 06:13] mehigh commented on #244
I'll test this along the work in https://github.com/xwp/wp-dev-lib/pull/245 and if it all works OK, I'll get it merged in.

[2017-07-24 06:44] ntwb commented on #244
@westonruter  @mehigh This issue can be closed, the change was merged in https://github.com/xwp/wp-dev-lib/commit/49484a476f01228fdefa00f3b9c18a277f6a2061

[2017-07-24 07:12] #244 closed

[2017-07-25 12:19] MattGeri opened #247 "Travis doesn't support xmllint on new Trusty environment"
Travis now defaults to it's new Ubuntu Trusty environment (unless specified not to in the config file). However in this environment, `xmllint` or probably the `libxml2-utils` package is not installed.

So when the build tries to check the XML, an error is thrown:

`xargs: xmllint: No such file or directory`

Switching back to Ubuntu Precise is a short term fix for this. Add the following to `.trav

[2017-07-26 01:40] westonruter commented on #247
Seems like then the best permanent fix would be to update the `install_tools` function to install `xmllint` `if [ -s "$TEMP_DIRECTORY/paths-scope-xml" ]`, yeah?

See https://github.com/xwp/wp-dev-lib/blob/bb1ae0b61663d022ec1ed78aa623720de39c9049/check-diff.sh#L402-L403

[2017-08-02 05:56] westonruter commented on #247
@MattGeri see also #249 where `precise` is now the default. Still, we should support `trusty`.

[2017-08-02 06:02] westonruter commented on #168
This is really now obsolete now as `svn-push` is deprecated in favor of `grunt-wp-deploy`.

And besides, the `.svnignore` file is in itself obsolete in favor of `.distignore`: #202.

[2017-08-02 06:02] #168 closed

[2017-08-02 06:03] #86 closed

[2017-08-02 06:05] westonruter commented on #42
VIP Scanner seems pretty much deprecated in favor of PHPCS.

[2017-08-02 06:05] #42 closed

[2017-08-02 06:07] westonruter commented on #189
I'm assuming this will just defer to https://github.com/WordPress-Coding-Standards/eslint-config-wordpress

Any changes to the ESLint config should be opened as pull requests to that repo.

[2017-08-02 06:07] #189 closed

[2017-08-02 06:12] westonruter opened #250 "Allow linting configs to be defined in package.json"
Currently dev-lib looks for the presence of `.eslintrc`, `.jshintrc`, and other such files in order to determine whether or not it should invoke those tools. However, increasingly the configurations for these tools can be defined in `package.json`. Therefore, dev-lib should also look at the `package.json` to determine whether or no a linting tool should be used.

[2017-08-02 06:14] westonruter opened #251 "Allow different linting configs to apply differently on separate subtrees"
The wordpress-develop repo has a `.jshintrc` in https://github.com/WordPress/wordpress-develop/blob/master/.jshintrc but it also has one in https://github.com/WordPress/wordpress-develop/blob/master/tests/qunit/.jshintrc

Currently dev-lib is not honoring the situation where there is a nested config.

[2017-08-02 06:16] westonruter commented on #202
I'm wondering whether or not this should be done, since we're using `grunt-wp-deploy` increasingly. It would be nice actually of `grunt-wp-deploy` added support for reading such files.

[2017-08-02 06:19] westonruter commented on #202
See https://github.com/stephenharris/grunt-wp-deploy/issues/36

[2017-08-02 06:23] rheinardkorf commented on #250
Yes please! Because dev-lib provides the config files which invokes those tools anyway it does seem like overkill to run 3 differing linters for JS.  If we just pick our preferred linter in `package.json` this would be way more convenient... and perhaps setting a default linter.

[2017-08-02 18:25] westonruter commented on #250
To do this we'd need a way for our Bash script to read the `package.json` and detect whether or not a given linter is configured. Any suggestions? Could be a little one-liner PHP script added to `php -e` to `json_parse`s the file and looks for the presence of a given key.

[2017-08-03 02:15] rheinardkorf commented on #250
If its a single key e.g. `js_linter` that appears in `package.json` then it could be as simple as
[code]

[2017-08-03 18:14] westonruter commented on #250
Yeah, so for ESLint it would be whether or not `"eslintConfig"` occurs inside of the `package.json` file. Only problem with just grepping for a string would be the possibility for false positives. So I was thinking maybe it would be better to do something like:

[code]

Just tried that out and it works! So we'd just need to take that condition in addition to whether or not `$ESLINT_CONFIG` is set,

[2017-08-04 04:27] rheinardkorf commented on #250
Could we just look for `$ESLINT_CONFIG` and if its empty keep doing what we're currently doing? But if its set then ignore the checking for the existence of the files?

[2017-08-04 04:33] westonruter commented on #250
@rheinardkorf this is what we'd need to check for:

http://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2017-08-10 06:53] westonruter opened #252 "Eliminate global installation of tools in favor opting for local install when available"
Right now ESLint is the only tool that tries to use the locally-installed package. The other linters will try to look for globally-installed tools. We should always opt for locally-installed tools when they are present, for example `eslint`, `phpunit`, `phpcs` and more.

[2017-08-10 18:59] #197 closed

[2017-08-17 06:07] kasparsd opened #255 "Update bootstrap.php to support themes"
We should update [phpunit-plugin-bootstrap.php](https://github.com/xwp/wp-dev-lib/blob/20eba62e831cf1db9e60a113b51e0280bd76b476/phpunit-plugin-bootstrap.php) to support  theme `THEME_GIT_PLUGIN_DEPENDENCIES` since #150 was merged. Similar to how we activate `WP_TEST_ACTIVATED_PLUGINS`:

https://github.com/xwp/wp-dev-lib/blob/20eba62e831cf1db9e60a113b51e0280bd76b476/phpunit-plugin-bootstrap.php#L59

[2017-08-17 06:36] valendesigns commented on #255
Here's the [bootstrap.php](https://github.com/valendesigns/archetype/blob/master/tests/bootstrap.php) file I used to test the branch. I don't think we need support for `THEME_GIT_PLUGIN_DEPENDENCIES` inside [phpunit-plugin-bootstrap.php](https://github.com/xwp/wp-dev-lib/blob/20eba62e831cf1db9e60a113b51e0280bd76b476/phpunit-plugin-bootstrap.php). However, I do think we should add a `phpunit-theme-

[2017-08-17 06:40] valendesigns commented on #255
Also, we should add something similar to the [phpunit-plugin.xml](https://github.com/xwp/wp-dev-lib/blob/master/phpunit-plugin.xml) but for themes. In my version I added a `WP_TEST_ACTIVATED_THEME` constant that was used like so:

[code]

[2017-08-17 06:53] kasparsd commented on #255
My thinking was that a generic sample bootstrap.php file could support both plugin and theme dependancies. What are the drawbacks of this approach?

[2017-08-17 06:55] kasparsd commented on #255
I have the local theme folder named differently than the GitHub repo which is why `WP_TEST_ACTIVATED_THEME` doesn't work for me. I did this:

[code]

in `bootstrap.php`.

[2017-09-05 05:28] #252 closed

[2017-09-11 07:34] igmoweb opened #260 "Allow adding PHPCS installed_paths config"
Sometimes you could need to add different sets of rules than the common ones for PHPCS. I'd like to ask for a variable in .dev-lib that would allow defining routes for PHPCS configuration.

Right now, the only way to hack those paths is to change the `$WPCS_DIR` variable. `check-diff.sh` contains the following line:

`phpcs --config-set installed_paths $WPCS_DIR`

It would be nice if we had a simi

[2017-09-11 07:38] westonruter commented on #260
Hi. Would not what is added in #254 solve your problem?

Your exact problem was discussed there: https://github.com/xwp/wp-dev-lib/pull/254#discussion_r132579926

[2017-09-13 09:22] igmoweb commented on #260
Thanks @westonruter

Yes, it's more or less the same problem. In our case, we were trying to add `fig-r/psr2r-sniffer` sniffs but it seems that `phpcodesniffer-composer-installer` isn't loading them automatically. We just needed one rule so I ended up using the following rule in our `phpcs.ruleset.xml`. Here's the example:

```<rule ref="./vendor/fig-r/psr2r-sniffer/PSR2R/Sniffs/ControlStructures/

[2017-09-13 09:23] igmoweb commented on #260
I forgot to add `composer.json` requires:

[code]

[2017-09-13 16:18] westonruter commented on #260
Yes, that's right. It's not added automatically.

Humm. This is what `phpcodesniffer-composer-installer` is supposed to eliminate the need for.

BTW, I recommend renaming this file to `phpcs.xml`. When you do this, then you can call `phpcs` on the command line without any args and it will automatically use it as the ruleset to check against. See #243.

[2017-09-22 10:32] igmoweb commented on #260
Thanks for your help @westonruter It's rare that `phpcodesniffer-composer-installer` is not loading those rules but I need to investigate further about that.

I'm going to close here and opening another one if I see anything else.

Thanks again.

[2017-09-22 10:32] #260 closed

[2017-10-02 16:12] mckfc opened #261 "install-pre-commit-hook.sh will error if "$(git rev-parse --git-dir)/hooks" doesn't exist"
Today I try run this script on my windows machine: **install-pre-commit-hook.sh** and noticed it is printing some error "??? NO Such ?????" though if flashed out.

I googled how to prevent shell script cmd closing and luckily found "sleep x" could let the window stay. And finally I found the script stop after:
`cd "$(git rev-parse --git-dir)/hooks"`
I open **.git** folder in the project and can't

[2017-10-02 16:17] westonruter commented on #261
What version of Git do you have? It's strange that the `hooks` directory is not there, as normally it contains sample hooks. Are the other files and directories in the `.git` directory as normal, including `branches`, `refs`, `info`, etc?

[2017-10-03 12:21] ocean90 commented on #247
I started with that in https://github.com/ocean90/wp-dev-lib/commit/e7d384919b66f19cfa8bc8ae94ce834cb98f900e until I realized that having `sudo apt-get` there isn't the best idea for local environments. Should this be part of `travis.install.sh`?

[2017-10-03 22:32] westonruter commented on #247
Yes, that makes sense to me. However, `sudo` is going to fail on Travis too when running on a containerized environment. So the `xmllint` installation should be done without `sudo`, assuming that is possible.

[2017-10-04 11:21] JDGrimes commented on #247
Travis can install it for you, by adding this to `.travis.yml`:

[code]

Then `sudo` isn't required.

[2017-10-04 11:28] ocean90 commented on #247
Correct, I tried that yesterday and it's working, see https://travis-ci.org/GlotPress/GlotPress-WP/jobs/282788413#L428 and https://travis-ci.org/GlotPress/GlotPress-WP/jobs/282788413#L700.

The only disadvantage is that there's no apt caching, see https://github.com/travis-ci/travis-ci/issues/5876.

[2017-10-04 19:32] valendesigns commented on #247
I did it like this:
[code]
But the `addons` method seems a little more elegant.

[2017-12-06 12:24] kasparsd opened #262 "Format tag slugs in readme.md"
The readme convertor is converting all plugin tags into links but it doesn't format the tag slut to replace spaces with dashes. This results in broken links:

https://github.com/georgestephanis/two-factor/blob/330e36a09c1f744e176275bf42fd7b07b5f2d09a/readme.md

We should replace all spaces with slashes here:

https://github.com/xwp/wp-dev-lib/blob/cb1dd85772818a7f1a75d7b79114d847ec884d05/class-wor

[2017-12-06 12:34] #262 closed

[2018-01-12 16:33] jrfnl opened #267 "Downloading PHPUnit twice ?"
Just wondering - I might well be reading the code incorrectly -, but by the looks of it, PHPUnit is potentially downloaded & installed twice ?

There may be an efficiency fix which can be made here or else a de-duplication.

https://github.com/xwp/wp-dev-lib/blob/61a4add397effac047f2ffe015d600ebd2db0ffe/travis.install.sh#L14-L19

https://github.com/xwp/wp-dev-lib/blob/61a4add397effac047f2ffe015d60

[2018-01-16 04:06] westonruter opened #268 "Validate the composer.json file"
See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/pull/1287

[2018-04-18 10:00] kasparsd opened #272 "Add support for Composer"
Currently there is no way to add `wp-dev-lib` as a developer dependancy using [Composer](https://getcomposer.org/) because this repository doesn't contain a `composer.json` file.

[2018-04-18 14:32] #272 closed

[2018-04-20 11:37] kasparsd opened #274 "Symlink /vendor to $LINTING_DIRECTORY"
Related to #236.

When adding PHPCS, WPCS and other developer tools via Composer, the `vendor` directory needs to be present in the `$LINTING_DIRECTORY` directory. We're already symlinking the `node_modules` directory to `$LINTING_DIRECTORY`:

https://github.com/xwp/wp-dev-lib/blob/c80f10dad3cb402213914438d8ae1cdeccce9e4a/check-diff.sh#L316-L322

The same needs to happen for `vendor`.

[2018-04-20 12:34] kasparsd commented on #236
Fixed in #254.

[2018-04-20 12:34] #236 closed

[2018-04-20 13:04] kasparsd opened #277 "Start versioning wp-dev-lib"
With the added support for Composer in #273 we can start tagging releases according to [SemVer](https://semver.org/). This should also help us with introducing breaking changes to the project, if necessary.

[2018-04-20 17:08] #274 closed

[2018-04-20 19:37] westonruter commented on #277
And we can start using a `develop` branch as well.

[2018-04-21 06:07] kasparsd commented on #277
@westonruter What's the thinking behind a `develop` branch? Could we keep `master` as the development branch and tag the releases whenever they're ready?

[2018-04-21 08:09] westonruter commented on #277
The idea being that there could be a stable branch, `master`, and a bleeding edge branch, `develop`.

[2018-04-21 08:12] kasparsd commented on #277
Sounds good @westonruter! Would we then open pull requests against `master` or `develop`?

[2018-04-21 17:46] westonruter commented on #277
We'd probably change the default branch to `develop` and open pull requests against it. Then when doing a new version bump we could merge `develop` into `master`.

[2019-01-15 13:56] MattGeri opened #286 "Support the new VIP coding standards project"
WP Dev Lib currently supports the outdated `WordPress-VIP` coding standards ruleset that will no longer be supported as of WPCS 2.0.0. Currently, when we pull the WPCS project, we checkout the `develop` branch which is the beta of 2.0.0 and thus, builds fail when trying to use the `WordPress-VIP` rules.

The solution is to incorporate https://github.com/Automattic/VIP-Coding-Standards/, but a deci

[2019-01-17 08:04] kasparsd commented on #277
Fixed with #278.

[2019-01-17 08:04] #277 closed

[2019-01-17 08:35] kasparsd opened #288 "Document the pre-commit hook setup scripts"
In #278 we missed the documentation for pre-commit hook install scripts:

[code]

[2019-01-17 09:05] #288 closed

[2019-01-17 09:11] kasparsd commented on #286
Would be nice to add VIP-Coding-Standards to the [suggested packages list](https://github.com/xwp/wp-dev-lib/tree/a458f7915c672e0d6431499040d6d8cd135a532a#suggested-composer-packages).

[2019-01-17 09:28] kasparsd opened #290 "Document examples of projects using wp-dev-lib"
Help users setup their projects by showing real-world examples of how `wp-dev-lib` is being integrated into projects:

- https://github.com/ampproject/amp-wp

[2019-01-18 08:58] kasparsd opened #291 "Update script paths in readme"
In #278 all scripts were moved inside the `/scripts` directory, while the [readme still points to the project root](https://github.com/xwp/wp-dev-lib/blob/a458f7915c672e0d6431499040d6d8cd135a532a/readme.md#configure-the-git-pre-commit-hook) for things like `pre-commit`, etc.

[2019-01-24 21:24] westonruter commented on #290
PWA is another: https://github.com/xwp/pwa-wp/pull/121

[2019-03-11 09:23] valendesigns opened #296 "Using DEV_LIB_SKIP"
In the docs it say to use `DEV_LIB_SKIP=phpunit git commit` to ignore `phpunit`, but that fails because the `git commit` portion doesn't seem accurate. Shouldn't it just be `DEV_LIB_SKIP=phpunit`?

[2019-03-11 16:37] westonruter commented on #296
When you prefix a shell command with an environment variable in that way, the environment variable is set during the life of that one command and then is removed. In other words:

[code]

Whereas:

[code]

Similarly, for setting `NODE_ENV` when running `node`: https://stackoverflow.com/a/9204973/93579

[2019-03-11 21:07] valendesigns commented on #296
That makes sense but is not clear. The context in which it’s being used is likely in the .dev-lib file not in the command line. So I could see it confusing people.

[2019-03-24 06:37] kasparsd commented on #296
@valendesigns Could you please elaborate on that? Are you saying that setting `DEV_LIB_SKIP` in `.dev-lib` doesn't work? Or should we just include an example of `DEV_LIB_SKIP` in the [Environment Variables section](https://github.com/xwp/wp-dev-lib/tree/69f6564f930390e9a9a413e14daea749f1adaed2#environment-variables) of the readme?

[2019-03-24 07:17] valendesigns commented on #296
I’m suggesting we add an example somewhere for using it in the environment file because that’s the context it’s being spoken about. However, the example we show is for the command line and would confuse someone that didn’t know better.

[2019-06-18 09:42] swissspidy opened #300 "Use newer versions of PHPUnit"
WordPress core runs tests using PHPUnit 7, 6, or 4, depending on the PHP version:

https://github.com/WordPress/wordpress-develop/blob/1f1cf751e5130249ee06684399f001ae4479e650/.travis.yml#L62-L82

wp-dev-lib however uses PHPUnit 4 or 5, depending on PHP version:

https://github.com/xwp/wp-dev-lib/blob/d8207e7cf749eaba5de5fb45c49cf7408ba741b6/scripts/travis.install.sh#L11-L16

Is there any chance w

[2019-06-18 11:15] kasparsd commented on #300
Could we require users to add the PHPUnit dependency to their project in `composer.json` instead?

A simple fix would be to check for an existing `phpunit` executable here before doing any install:

https://github.com/xwp/wp-dev-lib/blob/d8207e7cf749eaba5de5fb45c49cf7408ba741b6/scripts/travis.install.sh#L10

as we do here already:

https://github.com/xwp/wp-dev-lib/blob/90574b4e61c53a9b0e7f286812f

[2019-06-18 11:19] kasparsd commented on #300
Actually, the whole thing here might no longer be necessary:

https://github.com/xwp/wp-dev-lib/blob/d8207e7cf749eaba5de5fb45c49cf7408ba741b6/scripts/travis.install.sh#L10-L27

since we're already installing PHPunit during `install_tools`:

https://github.com/xwp/wp-dev-lib/blob/90574b4e61c53a9b0e7f286812fe428d13c9ba7d/scripts/check-diff.sh#L454-L459

which runs right after:

https://github.com/xw

[2019-07-02 17:04] #300 closed

[2019-07-02 17:05] kasparsd commented on #267
Fixed in #301.

[2019-07-02 17:05] #267 closed

[2019-07-02 17:19] kasparsd opened #302 "Enable MySQL on Travis using Ubuntu Xenial 16.04"
Ubuntu Xenial 16.04 is now the default Travis CI build environment.

See: https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment#1-services-support

[2019-07-02 17:32] #302 closed

[2019-07-02 19:38] swissspidy commented on #300
@kasparsd Checking for an existing binary from composer makes sense to me. Adding that would be a nice enhancement still.

[2019-07-02 20:55] jrfnl commented on #267
:tada:

[2019-07-04 13:16] kasparsd opened #305 "Ensure we always install the necessary version of phpunit"
Currently we skip installing phpunit if the binary is found:

https://github.com/xwp/wp-dev-lib/blob/2a12c1c62494c50b5383633dfdc54c7bb19d8598/scripts/check-diff.sh#L454

We should remove the `! command -v phpunit >/dev/null 2>&1;` check to ensure we still install the required version of phpunit when it isn't specified as a Composer dependency.

For setups with phpunit required in `composer.json` i

[2019-07-04 15:02] #305 closed

[2019-07-08 07:02] commitcheck commented on #107
@westonruter @yani- if you want to do this in Github, you can use CommitCheck. It's an app I built for things like, checking commit messages contain a JIRA number. It's free to use for OSS projects -> https://github.com/apps/commitcheck-app. I'm happy to answer any questions :)

[2019-12-09 19:05] kopepasah opened #309 "Configure pre-commit hook to only run required checks."
The Git `pre-commit` hook currently runs all checks no matter what files have changed and this is not efficient. For example, an update to a README.md file will run all linting, which is unnecessary for this change.

The pre-commit hook should be reworked to only run checks on file changes.

Optionally, we could explore removing this pre-commit hook in favor of a more robust tool like [Husky](http

[2019-12-09 19:38] kasparsd commented on #309
@kopepasah dev-lib tries to detect which checks should run based on the files changed in the current changeset -- for example, before linting JS files it checks if any of the JS files were changed:

https://github.com/xwp/wp-dev-lib/blob/e0205d733c2cabccfd05ec281ae43872fc42c221/scripts/check-diff.sh#L820-L822

There is also a way to disable individual checks using the `DEV_LIB_SKIP` environment va

[2019-12-09 22:11] kopepasah commented on #309
@kasparsd thanks and that does make sense. I still think there is value in breaking out some of these checks, as asking engineers to set "skip files" in order to not perform some checks seems like a good case for automation.

The way I would like this `pre-commit` hook to behave is as follows:

- It is installed as a requirement when using this package.
  - To me, it seems odd that we can have err

[2019-12-09 22:12] kopepasah commented on #309
Ultimately, I think this needs further discussion and can be tackled in V2 of this project. :)

[2019-12-10 08:39] kasparsd commented on #309
@kopepasah I think that what you describe is already the default behaviour -- it only runs the checks necessary and applicable to the types of files that were changed in the currently staged diff -- see all the `check_should_execute` calls in [`wp-dev-lib/scripts/check-diff.sh`](https://github.com/xwp/wp-dev-lib/blob/e0205d733c2cabccfd05ec281ae43872fc42c221/scripts/check-diff.sh). Were you thinkin

[2020-01-08 22:41] kasparsd opened #312 "On Travis: fatal: Invalid symmetric difference expression master..."
Some Travis runs use an invalid diff range during `travis.install.sh` which results in the following error:

[code]

See [this sample CI run](https://travis-ci.com/WordPress/application-passwords/jobs/273682441) while the previous [without the error and could resolve the diff](https://travis-ci.com/WordPress/application-passwords/jobs/273672995#L289-L295):

[code]

Note that both are valid ranges:

[2020-01-08 22:43] kasparsd commented on #312
This could be a Travis issue, too. I'm not sure.

[2020-02-10 15:26] adekbadek opened #316 "Temporary directory causes issues when Eslint rule import/no-unresolved is used"
This lib creates a tmp directory with changed files only, in order to lint them.
However this causes issues when using Eslint rule [`import/no-unresolved`](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-unresolved.md). When a changed file (changed line, to be precise) imports another file, which was not changed (not incl. in the git diff), this rule check will fail.
Th

[2020-05-12 12:28] kasparsd opened #322 "Provide an environment for running wp-dev-lib reliably"
Historically wp-dev-lib has relied on bash scripts and global environment dependencies such as a *nix operating system, PHP CLI, subversion, git, mysql server and client -- all running on the host machine that is also running the dev-lib tasks. It also makes assumptions about Vagrant based virtual environments (based on the current process user) or when Docker config files are present in the proje

[2020-05-18 12:43] kasparsd commented on #312
OK, so this happens only for **merge** commits like https://github.com/WordPress/application-passwords/commit/2abbda3a1c6b90a0173e832e250ce2007e3fd074 (here is the [Travis CI run for that commit](https://travis-ci.com/github/WordPress/application-passwords/jobs/273682441)).

[2020-05-18 13:21] kasparsd commented on #312
Per https://help.github.com/en/github/committing-changes-to-your-project/commit-exists-on-github-but-not-in-my-local-clone

[2020-05-18 13:23] kasparsd commented on #312
Re-opening since we should probably return a non-zero exit code when this happens. Otherwise the builds appear to pass.

[2020-06-26 21:12] kasparsd opened #323 "Don't assume the location of PHPUnit coverage reports"
In https://github.com/xwp/wp-dev-lib/blob/420f1bac828e105a19a904cab97d042891d4b84e/scripts/check-diff.sh#L804-L816 we pass `$(coverage_clover)` which is equal to `--coverage-clover build/logs/clover.xml` if `can_generate_coverage_clover` returns `1` which is the case whenever a Coveralls config file is found in the project root and `coverage` task is enabled.

[2020-11-06 23:30] irmalcol commented on #312
I'm also getting this error on Travis builds triggered by GitHub pull requests using the `travis.install.sh` script. Sometimes the error shows up and sometimes it doesn't. I have not been able to reliably reproduce or avoid the conditions that cause the error to present itself.

[code]

This has actually been a problem for a few years now, but I just found this GitHub issue. @kasparsd, were you ev

[2020-11-07 04:39] AdrienStrathcom commented on #312
@kasparsd, you might want to check out the following Travis bug:

https://github.com/travis-ci/travis-ci/issues/2666

I've been digging into this with @irmalcol, and it seems like this bug is still an issue, despite the Travis team closing the bug. We're trying a workaround along the lines of what's mentioned in the bug:

[code]

Preliminary results look promising, but the issue was intermittent,

[2021-11-23 02:50] #199 closed